<!DOCTYPE html>
<html>
<head>
<!-- Add jQuery library using Google CDN (Content Delivery Network)-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

<!-- Latest compiled and minified Bootstrap Javascript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- TiTaToggle CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/titatoggle/1.2.11/titatoggle-dist-min.css">

<script type="text/javascript">
$(document).ready(function () {
  $(".checkbox input").change(function(){
    alert($(this).attr("id"));
  });
});
</script>

<title>LZ Production Admins</title>
</head>
<body>
  {% for user in users %}
    <div class="checkbox checkbox-slider-info checkbox-slider--b"> <!-- could have checkbox-slider--b-flat -->
      <label>
	{% if user.admin %}
	  <input type="checkbox" id={{ user.id }} checked><span>{{ user.name }}</span>
	{% else %}
	  <input type="checkbox" id={{ user.id }}><span>{{ user.name }}</span>
	{% endif %}
      </label>
    </div>
  {% endfor %}
</body>
</html>
