<!DOCTYPE html>
<html>
<head>
<!-- Add jQuery library using Google CDN (Content Delivery Network)-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

<!-- Add fancyBox cdnjs.com CDN-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

<!-- Add dataTables CDN -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css"> 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<!-- Add Select extension for dataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>

<!-- Latest compiled and minified Bootstrap CSS/Javascript -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- Optional Bootstrap theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Bootbox -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!-- Charts.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var myChart = null;

    $(".display").each(function(index){
      $(this).DataTable({ajax: {url: $(this).attr("data-source"),
                                type: "GET",
                                cache: true,
                                // cant use success as DataTables uses that but this lets us
                                // manipulate the data returned from the server prior to drawing.
                                dataSrc: function(json) {
                                           // setup charts here.
                                           var charts_data = {}
                                           // without sort here the order of labels will be first come first serve which will mean that the pie chart will get different colours
                                           $.each(json.data.sort(function(a,b){return a.status.localeCompare(b.status)}), function(i, row) {
                                             if (!(row.status in charts_data)){
                                               charts_data[row.status] = 0;
                                             }
                                             charts_data[row.status]++;
                                             
                                           });

                                           Chart.defaults.global.maintainAspectRatio = false;
                                           var keys = $.map(charts_data, function(value, key) { return key });
                                           var values = $.map(charts_data, function(value, key) { return value });
                                           var colours = $.map(Object.keys(charts_data), function(key, i) {return "hsl(" + (360.*i/Object.keys(charts_data).length) + ", 100%, 50%)"});
                                           if (myChart != null) {
                                             myChart.destroy();
                                           }
                                           myChart = new Chart($("#myChart"), {type: "pie",
                                                                               data: {labels: keys,
                                                                                      datasets: [{data: values,
                                                                                                  backgroundColor: colours}]
                                                                                     },
                                                                                responsive:true});
                                           return json.data;
                                          }
                                },
                         order: [[1, "asc"]],
                         autoWidth: false,
                         columnDefs: [{ targets: "_all", className: "dt-body-left dt-head-left",
                                        render: function(data, type, row){
                                                  return data.length > 40 ?
                                                     data.substr( 0, 40 ) +'…' :
                                                     data;
                                                }}],
                         columns: [{data:null, defaultContent: "<span class='glyphicon glyphicon-plus-sign text-primary details-control' style='cursor:pointer'></span>", orderable:false},
                                   {data: "id", title: "ID", className:"rowid", width:"5%"},
                                   {% if user.admin %}
                                     {data: "requester_id", title: "Requester", width: "10%"},
                                     {data: "description", title: "Description", width: "50%"},
                                   {% else %}
                                     {data: "description", title: "Description", width: "60%"},
                                   {% endif %}
                                   {data: "sim_lead", title: "Sim Lead", width: "20%"},
                                   {data: "status", title: "Status", width: "7.5%"},
                                   {data: "request_date", title: "Request Date", width: "7.5%"}]
                        });
    });

    $("#tableBody tbody").on("click", "tr td span.details-control", function() {
      var tr = $(this).closest("tr");
      var row = $("#tableBody").DataTable().row(tr);
      if (row.child.isShown()){
        row.child.hide();
        //tr.removeClass("shown");
      }
      else{
        row.child("<div class='jumbotron'>Hello World</div>").show();
        //tr.addClass("shown");
      }
      $(this).toggleClass("glyphicon-plus-sign")
      $(this).toggleClass("glyphicon-minus-sign")
      $(this).toggleClass("text-primary")
      $(this).toggleClass("text-danger")
    });
 
    // New request button
    $("#NewRequest").fancybox({
      type: "iframe",
      href: "/newrequest",
      title: "Submit New Request"
    });
  
    $("#tableBody tbody").on("dblclick", "tr", function(e){
      $.fancybox({
        type: "ajax",
        href: "/api/" + $("#tableBody").DataTable().cell($(this), $("td.rowid", this)).data()
//        href: "/api/" + $("#tableBody").DataTable().cell($(this), 0).data()
      });
    });

    $("#Admins").fancybox({
      type: "ajax",
      href: "/admins",
      title: "Admin Management",
      afterClose: function(){location.reload();}
    });

    // Table row selection
    /////////////////////////////////////////////////////
    var last_selected = 0;
    $("#tableBody tbody").on("click", "tr", function(e){
	var table_body = $("#tableBody tbody");
	var table_rows = $("#tableBody tbody tr");
        var new_selected = $(table_rows).index($(this));
	if (!e.ctrlKey && !e.shiftKey) {
	    $("tr.selected", $(table_body)).removeClass("selected");
        }
	else if (e.shiftKey) {
            if (new_selected < last_selected) {
                var length = $(table_rows).size() - 1;
                $(table_rows).slice(new_selected - length, last_selected - length - 1).addClass("selected");
            }
	    $(table_rows).slice(last_selected + 1, new_selected).addClass("selected");
	}
	$(this).toggleClass("selected");
        last_selected = new_selected;
    });
    /////////////////////////////////////////////////////

    // Context menu
    /////////////////////////////////////////////////////
    $("body").on("contextmenu", "#tableBody tbody tr", function(e) {
      e.preventDefault();
      if (!$(this).hasClass("selected")){
        $("#tableBody tbody tr.selected").removeClass("selected");
        $(this).addClass("selected");
      }

      var selected = $("#tableBody tbody tr.selected");
      if (selected.length > 1){
        $("#contextInfo").addClass("disabled");
        $("#contextCopy").addClass("disabled");
        $("#contextCopy span").removeClass("text-primary");
      }
      else{
        $("#contextCopy span").addClass("text-primary");
        $("#contextmenu ul li.disabled").removeClass("disabled")
      }

      var ids = [];
      var table = $("#tableBody").DataTable();
      selected.each(function() {
        ids.push(table.cell($(this), $("td.rowid", this)).data());
//        ids.push(table.cell($(this), 0).data());
      });

      var contextmenu = $("#contextmenu");
      contextmenu.prop("ids", ids);
      contextmenu.css({left: e.pageX,
                       top: e.pageY});
      contextmenu.show();
    });

    $("html").click(function(e) {
      $("#contextmenu").hide();
    });

    /////////////////////////////////////////////////////
    
    // Context buttons
    /////////////////////////////////////////////////////
    $("#contextInfo").click(function() {
      if ($(this).hasClass("disabled")){ return false; }
      $.fancybox({
        type: "ajax",
        href: "/api/" + $("#contextmenu").prop("ids")
      });
    });

    $("#contextEdit").click(function() {
      if ($(this).hasClass("disabled")){ return false; }
      alert("Edit");
      $.fancybox({
        type: "iframe",
        href: "/editrequest.html",
        title: "Edit Request"
      });
    });

    $("#contextCopy").click(function() {
      if ($(this).hasClass("disabled")){ return false; }
      alert("COPY");
    });
{% if user.admin %}
    $("#contextApprove").click(function() {
      if ($(this).hasClass("disabled")){ return false; }
      var ajax_calls = [];
      var ids = $("#contextmenu").prop("ids");
      for(var i in ids) {
        ajax_calls.push($.ajax({url: "/api/" + ids[i],
                                type: "PUT",
                                data: {"status": "Approved"}}));
      }
      $.when.apply(this, ajax_calls).done(function() {
        $("#tableBody").DataTable().ajax.reload();
        bootstrap_alert("Info!", "Approved " + ids.length + " request(s)", "alert-info");
      });
    });

    $("#contextDelete").click(function() {
      if ($(this).hasClass("disabled")){ return false; }
      var ajax_calls = [];
      var ids = $("#contextmenu").prop("ids");
      for(var i in ids) {
        ajax_calls.push($.ajax({url: "/api/" + ids[i],
                                type: "DELETE"}));
      }
      $.when.apply(this, ajax_calls).done(function() {
        $("#tableBody").DataTable().ajax.reload();
        bootstrap_alert("Attention!", "Deleted "+ ids.length +" request(s)", "alert-danger");
      });
    });
{% endif %}
    /////////////////////////////////////////////////////

    // Pressing Delete key
    /////////////////////////////////////////////////////
    $("body").keypress(function(e) {
      if (e.keyCode == 46){  //delete key
        var selected = $("#tableBody tbody tr.selected");
        if (!selected.length){ return; }
        bootbox.confirm("Really delete " + selected.length + " request(s)?", function(result) {
          if (!result){ return; }
          var ajax_calls = []
          var table = $("#tableBody").DataTable();
          selected.each(function() {
            var id = table.cell($(this), $("td.rowid", this)).data();
//            var id = table.cell($(this), 0).data();
            ajax_calls.push($.ajax({url: "/api/" + id,
                                    type: "DELETE"}));
          });
          $.when.apply(this, ajax_calls).done(function() {
            table.ajax.reload();
            bootstrap_alert("Attention!", "Deleted " + ajax_calls.length + " requests" , "alert-danger");
          });
        });
      }
    });
    /////////////////////////////////////////////////////


 
  bootstrap_alert = function(status, message, level){
   // the below pops the notification into existence immediately
   // hence we add the hide to allow fadeIn once filled with html
   $("#notification").hide().html("\
        <div class='alert alert-dismissible ###LEVEL###' role='alert'>\
          <button type='button' class='close' data-dismiss='alert'>\
            <span class='glyphicon glyphicon-remove-sign'></span>\
          </button>\
          <strong>###STATUS###</strong> ###MESSAGE###\
        </div>".replace("###LEVEL###", level)
               .replace("###MESSAGE###", message)
               .replace("###STATUS###", status));
   $("#notification").fadeIn("slow").delay(2000).fadeOut("slow");
  };

  $("#testbutton").click(function(){
    bootstrap_alert("Danger!", "hello world", "alert-warning");
  });

  
  });
</script>

<style>
  body {margin-left:10%; margin-right: 10%; padding:0;}
  #contextmenu {position: absolute; display: none;}
  #contextmenu li:hover {cursor: pointer;}
  #notification {
      position: fixed;
      top: 0;
      left: 10%;
      width: 80%;
  }
  #tableBody {width: 100%;}
  /* remove the cell highlighting that happens only in firefox when ctrl-clicking, see:
   http://stackoverflow.com/questions/27170878/disable-ctrlclick-selection-in-jquery-datatables
  */
  #tableBody tbody tr td { -moz-user-select: none; }
</style>

<title>LZ Production Requests</title>
</head>

<body>
 <div id="notification"></div>

  <div class="page-header">
    <h1>LZ Production Requests</h1>
    <div align="right">
      <img border="0" alt="Ganga daemon status" src="https://img.shields.io/badge/gangad-{{gangad_status}}-{{gangad_status_colour}}.svg">
      <a href="https://dirac.gridpp.ac.uk/DIRAC/GridPP/lz_user/jobs/JobMonitor/display">
	<img border="0" alt="DIRAC status" src="https://img.shields.io/badge/DIRAC-{{DIRAC_status}}-{{DIRAC_status_colour}}.svg">
      </a>
      {% if user.admin %}
        <button id="Admins" class="btn btn-default" alt="Admins">
          <span class="glyphicon glyphicon-user text-primary"></span> Admins
        </button>
      {% endif %}
    </div>
  </div>
  <div class="container">
    <canvas id="myChart" height="200"></canvas>
  </div>
  <table id="tableBody" class="display" data-source="/api" cellspacing="0"></table>
  <button id="NewRequest" class="btn btn-default" alt="Submit New Request"><span class="glyphicon glyphicon-plus-sign text-primary"></span> New Request</button>
</body>


<foot>
  <!-- Context Menu -->
  <div id="contextmenu" class="dropdown">
    <ul class="dropdown-menu" role="menu" style="display:block;">
      <li class="dropdown-header">Choose an action...</li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">User</li>
      <li id="contextInfo"><a><span class="glyphicon glyphicon-info-sign"> Info</span></a></li>
      <li id="contextEdit"><a><span class="glyphicon glyphicon glyphicon-pencil text-warning"> Edit</span></a></li>
      <li id="contextCopy"><a><span class="glyphicon glyphicon-duplicate text-primary"> Copy</span></a></li>
      {% if user.admin %}
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Admin</li>
        <li id="contextApprove"><a><span class="glyphicon glyphicon-ok-sign text-success"> Approve</span></a></li>
        <li id="contextDelete"><a><span class="glyphicon glyphicon-minus-sign text-danger"> Delete</span></a></li>
      {% endif %}
    </ul>
  </div>
</foot>
</html>
