<!DOCTYPE html>
<html>
<head>
<title>Subtables</title>
</head>
<body>
  <table>
    <tr>
      <td>Macro</td>
      <td>NJobs</td>
      <td>NEvents</td>
      <td>Seed</td>
      <td>Output</td>
      <td>Status</td>
      <td></td>
    </tr>
    {% for macro in macros %}
    <tr>
      <td>{{ macro.macro }}</td>
      <td>{{ macro.njobs }}</td>
      <td>{{ macro.nevents }}</td>
      <td>{{ macro.seed }}</td>
      <td>
	{% if macro.sim_lfn_outputdir is not None%}
	{{ sim_lfn_outputdir }}<br>
	{% elseif %}
	{% if macro.mctruth_lfn_outputdir is not None%}
	{{ mctruth_lfn_outputdir }}<br>
	{% elseif %}
	{% if macro.reduction_lfn_outputdir is not None%}
	{{ reduction_lfn_outputdir }}<br>
	{% elseif %}
	{% if macro.der_lfn_outputdir is not None%}
	{{ der_lfn_outputdir }}<br>
	{% elseif %}
	{% if macro.lzap_lfn_outputdir is not None%}
	{{ lzap_lfn_outputdir }}<br>
	{% elseif %}
      </td>
      <td>
	{% if macro.reschedule %}
	  Rescheduled
	{% else %}
	  {{ macro.status }}
	{% endif %}
      </td>
      <td>
	{% if macro.status == 'Failed' %}
	<span class="glyphicon glyphicon-repeat text-primary reschedule" style="cursor:pointer" macroid="{{ macro.id }}" requestid="{{ macro.request_id }}"></span>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
