<!DOCTYPE html>
<html>
<head>
<title>Subtables</title>
</head>
<body>
  <table>
    <tr>
      <td>Macro</td>
      <td>NJobs</td>
      <td>NEvents</td>
      <td>Seed</td>
      <td>Output</td>
      <td>Status</td>
    </tr>
    {% for macro in macros %}
    <tr>
      <td>{{ macro.name }}</td>
      <td>{{ macro.njobs }}</td>
      <td>{{ macro.nevents }}</td>
      <td>{{ macro.seed }}</td>
      <td>
	{% if macro.output is not none %}
	  {% for lfn in macro.output %}
	    {{ lfn }}<br>
	  {% endfor %}
	{% else %}
	  {{ macro.output }}
	{% endif %}
      </td>
      <td>{{ macro.status }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
