<!DOCTYPE html>
<html>
<!-- Add jQuery library using Google CDN (Content Delivery Network)-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

<!-- Add fancyBox cdnjs.com CDN-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

<!-- Add dataTables CDN -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css"> 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<!-- Add Select extension for dataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>

<!-- Latest compiled and minified Bootstrap CSS/Javascript -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- Optional Bootstrap theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Bootbox -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!-- Charts.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>

<script type="text/javascript" src="javascript/index.js"></script>
<link rel="stylesheet" href="css/index.css">
<script>
$(document).ready(function() {
    var myChart = null;

    // DataTable setup
    /////////////////////////////////////////////////////
    $(".display").each(function(index){
	$(this).DataTable({ajax: {url: $(this).attr("data-source"),
                                  type: "GET",
                                  cache: true,
                                  // cant use success as DataTables uses that but this lets us
                                  // manipulate the data returned from the server prior to drawing.
                                  dataSrc: function(json) {
                                      // setup charts here.
                                      var charts_data = {}
                                      // without sort here the order of labels will be first come first serve which will mean that the pie chart will get different colours
                                      $.each(json.data.sort(function(a,b){return a.status.localeCompare(b.status)}), function(i, row) {
                                          if (!(row.status in charts_data)){
                                              charts_data[row.status] = 0;
                                          }
                                          charts_data[row.status]++;

                                      });

                                      Chart.defaults.global.maintainAspectRatio = false;
                                      var keys = $.map(charts_data, function(value, key) { return key });
                                      var values = $.map(charts_data, function(value, key) { return value });
                                      var colours = $.map(Object.keys(charts_data), function(key, i) {return "hsl(" + (360.*i/Object.keys(charts_data).length) + ", 100%, 50%)"});
                                      if (myChart != null) {
                                          myChart.destroy();
                                      }
                                      myChart = new Chart($("#myChart"), {type: "pie",
                                                                          data: {labels: keys,
                                                                                 datasets: [{data: values,
                                                                                             backgroundColor: colours}]
                                                                                },
                                                                          responsive:true});
                                      return json.data;
                                  }
                                 },
                           order: {{ table_order_by }},
                           autoWidth: false,
                           columnDefs: [{ targets: "_all", className: "dt-body-left dt-head-left",
                                          render: function(data, type, row){
                                              return data.length > 40 ?
                                                  data.substr( 0, 40 ) +'…' :
                                                  data;
                                          }}],
                           columns: {{ table_columns_def }}
                          });
    });

    $("#tableBody tbody").on("click", "tr td span.details-control", function() {
	var datatable = $("#tableBody").DataTable();
	var tr = $(this).closest("tr");
	var row = datatable.row(tr);
	var request_id = datatable.cell(row, $("td.rowid", tr)).data();
	if (row.child.isShown()){
            row.child.hide();
	}
	else{
            row.child($("<table>", {id: "subtable-" + request_id})).show()
            $("#subtable-" + request_id).DataTable({ajax: {url: '/parametricjobs/' + request_id,
                                                           type: "GET",
                                                           cache: true,
                                                           dataSrc: {{ preprocess_parametricjobs }},
                                                    autoWidth: true,
                                                    paging: false,
                                                    searching: false,
                                                    info: false,
                                                    //columnDefs: [ { defaultContent: "-", data: null, targets: "_all" } ],
                                                    columns: {{parametricjobs_columns_def}},
						                            order: {{parametricjobs_order_by}}
                                                   });
	}
	$(this).toggleClass("glyphicon-plus-sign")
	$(this).toggleClass("glyphicon-minus-sign")
	$(this).toggleClass("text-primary")
	$(this).toggleClass("text-danger")
    });
}
</script>

<head>
  <title>LZ Production Requests</title>
</head>

<body>
  <div id="notification"></div>

  <div class="page-header">
    <div align="right">
      {{ user.dn }} <img id="identicon" class="img-circle" src="https://www.gravatar.com/avatar/{{ user.email| gravitar_hash }}?d=identicon">
    </div>
    <h1>LZ Production Requests</h1>
    <div align="right">
      <img border="0" alt="Monitoring daemon status" src="https://img.shields.io/badge/monitoringd-{{services['monitoringd'].name}}-{{services['monitoringd'].value}}.svg">
      <a href="https://dirac.gridpp.ac.uk:8443/DIRAC/?view=tabs&theme=Grey&url_state=1|*DIRAC.JobMonitor.classes.JobMonitor:," style="text-decoration:none">
	<img border="0" alt="DIRAC status" src="https://img.shields.io/badge/DIRAC-{{services['DIRAC'].name}}-{{services['DIRAC'].value}}.svg">
      </a>
      {% if user.admin %}
      <button id="Admins" class="btn btn-default" alt="Admins">
        <span class="glyphicon glyphicon-user text-primary"></span> Admins
      </button>
      {% endif %}
    </div>
  </div>

  <div class="page-body">
    <div class="container">
      <canvas id="myChart" height="200"></canvas>
    </div>
    <table id="tableBody" class="display" data-source="/api" cellspacing="0"></table>
    <button id="NewRequest" class="btn btn-default" alt="Submit New Request"><span class="glyphicon glyphicon-plus-sign text-primary"></span> New Request</button>
    <button onclick="location.href='/csv_export'" type="submit" id="Export" class="btn btn-default" alt="Export"><span class="glyphicon glyphicon-cloud-download text-primary"></span> Export</button>
  </div>

  <hr>
  <div class="page-footer" align="right">
    <a href="https://github.com/alexanderrichards/LZProduction/issues">
      <span class="glyphicon glyphicon-bullhorn text-primary"></span> Report a problem
    </a>
  </div>
</body>

<foot>
  <!-- Context Menu -->
  <div id="contextmenu" class="dropdown">
    <ul class="dropdown-menu" role="menu" style="display:block;">
      <li class="dropdown-header">Choose an action...</li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">User</li>
      <li id="contextInfo"><a><span class="glyphicon glyphicon-info-sign"> Info</span></a></li>
      <li id="contextEdit"><a><span class="glyphicon glyphicon glyphicon-pencil text-warning"> Edit</span></a></li>
      <li id="contextCopy"><a><span class="glyphicon glyphicon-duplicate text-primary"> Copy</span></a></li>
      {% if user.admin %}
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">Admin</li>
      <li id="contextApprove"><a><span class="glyphicon glyphicon-ok-sign text-success"> Approve</span></a></li>
      <li id="contextDelete"><a><span class="glyphicon glyphicon-minus-sign text-danger"> Delete</span></a></li>
      {% endif %}
    </ul>
  </div>
</foot>
</html>
