body {margin-left:10%; margin-right: 10%; padding:0;}
#contextmenu {position: absolute; display: none;}
#contextmenu li:hover {cursor: pointer;}
#notification {
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
}
#tableBody {width: 100%;}
/* remove the cell highlighting that happens only in firefox when ctrl-clicking, see:
 http://stackoverflow.com/questions/27170878/disable-ctrlclick-selection-in-jquery-datatables
*/
#tableBody tbody tr td { -moz-user-select: none; }
.img-circle {border-radius: 50%;}
#identicon {width: 50px; height: 50px;}
